@import "tailwindcss";

:root {
  --background: #f0f8ff; /* AliceBlue */
  --foreground: #171717;
  --primary: #89cff0; /* Baby Blue */
  --primary-foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0077b6; /* A darker blue for dark mode */
    --primary-foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling on the body */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--primary);
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title,
.header-spacer {
  flex: 1;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-foreground);
}

.header-spacer {
  flex: 1;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.social-icons a {
  color: var(--primary-foreground);
  transition: transform 0.2s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  background-color: transparent;
  color: var(--primary-foreground);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: var(--primary);
    border-bottom: 1px solid #333;
  }
  
  .header-title {
    color: var(--primary-foreground);
  }

  .nav-link {
    color: var(--primary-foreground);
  }

  .nav-link:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
  }

  .nav-link.active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem; /* Add some padding to the content area */
}
